@font-face {
  font-family: 'Poppins';
  src: url(Fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Nunito';
  src: url(Fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Noto-Serif-JP';
  src: url(Fonts/Noto_Serif_JP/NotoSerifJP-Black.otf);
}

@font-face {
  font-family: 'Noto-Serif-SC';
  src: url(Fonts/Noto_Serif_SC/NotoSerifSC-Black.otf);
}

@font-face {
  font-family: 'Noto-Serif-TC';
  src: url(Fonts/Noto_Serif_TC/NotoSerifTC-Black.otf); 
}

/* :root {
  --color-bg: #ffffff;
  --color-fg: crimson;
  --color-nav: rgb(11, 11, 83);
  --color-bg-hover: pink;
  --color-active: lightpink;
} */

:root {
  --color-bg: #040622;
  --color-fg: lightgrey;
  --color-nav: #151345;
  --color-bg-hover: #1c1d54;
  --color-active: #26236b;
  --color-hover: aquamarine;
}

* {
  font-family: 'Nunito';
  background-color: var(--color-bg);
  ;
  color: var(--color-fg);
}

:lang(zh_HANT) {
  font-family: 'Noto-Serif-TC';
}

:lang(jp) {
font-family: 'Noto-Serif-JP'
}

body {
  margin: 0;
}

a:hover {
  color: var(--color-hover);
}
/* top horizontal navigation bar */
ul.navbar {
  font-size: 20px;
  background-color: var(--color-nav);
  list-style-type: none;
  margin: 0; padding: 15px 0;
  overflow: hidden;
}

.navbar li {
  float: right;
}

.navbar li a {
  background-color: var(--color-nav);
  text-decoration: none;
  padding: 15px;
}

.navbar li:first-child {
  float: left;
}

.navbar li a:hover {
  background-color: var(--color-bg-hover);
}

.navbar li a.active {
  background-color: var(--color-active);
}

/* format main body of webpage content */
.content {
  margin: 50px 15px;
}

#intro {
  display: inline;
}

#intro h1 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.img {
  display: inline;
}

/* table of contents */
.table-of-contents {
  font-size: large;
  border: 1px solid; border-radius: 10px;
  list-style-type: decimal;
}

.table-of-contents li {
  font-size: larger;
}

.table-of-contents ol, .table-of-contents a {
  list-style-type: decimal-leading-zero; text-decoration: none;
}

.chapter {
  font-size: xx-large;
}

#jp_resources ~ ol {
  list-style-type: decimal-leading-zero;
}